<% include ../partials/header %>

<link rel="stylesheet" href="/css/gallery.css" media="screen" title="no title" charset="utf-8">

<div class="collections-container">
  <div class="collections-display">
    <h1 class="col">COLLECTIONS</h1>
    <h4 class="col">
      March 29, 2016
    </h4>

    <div class="collections">
      <ul>
        <li>
          <img src="https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=49dab7a5e4b2e28b5707bc2db974c94b" alt="" />
          <p>
            <a href="#">Animals</a>
        </p>
      </li>
        <li>
          <img src="https://images.unsplash.com/12/palm-trees.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c68801d882fdd2231a11a56050d57d93" alt="" />
          <p>
            <a href="#">Beaches</a>
        </p>
      </li>
        <li>
          <img src="https://images.unsplash.com/21/desert.JPG?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5aa2c00f54fe9315a34f9e0b86762e82" alt="" />
          <p>
            <a href="#">Deserts</a>
        </p>
      </li>
        <li>
          <img src="https://images.unsplash.com/photo-1448361166128-5bb2fdfab84c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=b7791cc2082c9b0526659008c54dcaf8" alt="" />
          <p>
            <a href="#">Forests</a>
        </p>
      </li>
        <li>
          <img src="https://images.unsplash.com/25/peak.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a54de710e0290e2c4c43c49f7db24e2c" alt="" />
          <p>
            <a href="#">Mountiains</a>
        </p>
      </li>
        <li>
          <img src="https://images.unsplash.com/photo-1429305223369-4d065fdb6f53?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925" alt="" />
          <p>
            <a href="#">Oceans</a>
        </p>
      </li>
      </ul>

      <h3>Images from Unsplash.com</h3>
    </div>

  </div>
</div>

<% include ../partials/footer %>
