@import 'vars';

.collections-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 80px 0;
}

.collections-display {
  width: 90%;
  max-width: 1080px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding-top: 0;

  h1 {
    text-align: center;
    color: $primary-color;
    padding-bottom: 30px;
  }

  h4 {
    display: none;
  }

}

.col {
  display: block;
}

.collections {
  max-width: 1080px;
  height: auto;
  margin: 0 auto;

  ul {
    text-align: center;
  }

  li {
    padding: 10px;
    display: inline-block;
  }

  img {
    width: 270px;
    height: 220px;
  }

  p {
    text-align: center;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }

  h3 {
    text-align: center;
  }

}

@media (min-width: 769px) {

  .collections-container {

    h1 {
      text-align: left;
      color: $primary-color;
      padding-bottom: 0;
    }

    h4 {
      display: initial;
      position: absolute;
      text-align: right;
      right: 20px;
      font-size: 25px;
      font-weight: normal;
      color: $primary-color;
    }
  }

  .collections-display {
    width: 90%;
    padding-top: 30px;
  }

  .col {
    display: inline-block;
  }

  .collections {

    li {
      padding: 40px;
      display: inline-block;
    }
  }


}
