@import 'vars';

ul {
  list-style: none;
}


// Intro Display

.intro-container {
  width: 100%;
  height: 500px;
  background: url('https://images.unsplash.com/photo-1430505046445-10ec3b96acf0?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-position: bottom;
  position: relative;
  transition: $translate-speed;
}

.intro-display {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 50px;
    padding-bottom: 0;
  }

  p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-top: -10px;
  }
}

// Intro Display END


// Message

.message-container {
  max-width: 1080px;
  padding: 100px 5px;
  margin: 0 auto;
  height: 100%;
  transition: $translate-speed;
}

.message-display-one {
  width: 80%;
  margin: 0 auto;

  h2 {
    color: $primary-color;
    font-size: 30px;
    padding-bottom: 30px;
  }

  p {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.4px;
    line-height: 1.6em;
  }
}

.message-display-two {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;

  li {
    padding-bottom: 25px;
  }

  h2 {
    padding-bottom: 30px;
  }

  p {
    color: rgba(0, 0, 0, 0.5);
  }
}


// Middle Section
.middle-container {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 80px 0;
  text-align: center;

  h3 {
    color: $primary-color;
    padding-top: 50px;
  }

  button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding: 8px;
    margin: 20px 0;
    background: $dark-primary-color;
    border-color: $dark-primary-color;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.gallery {
  max-width: 1080px;
  height: auto;
  margin: 0 auto;

  ul {
    padding-top: 40px;
  }

  h1 {
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    color: $primary-color;
    background: (0, 0, 0, 0.8);
  }

  hr {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    background: #1d1d1d;
    border-color: #1d1d1d;
  }

  li {
    display: inline-block;

  }

  img {
    width: 270px;
    height: 220px;
    padding: 1.5em;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
  }

  p {
    margin-top: -20px;
    width: 300px;
    height: 100px;
    position: absolute;

    a {
      font-weight: bold;
      color: $primary-color;
      text-decoration: none;
    }
  }

} // Middle Secition END


// Contribution Section

.contribute-container {
  width: 100%;
  height: auto;
  padding: 80px 0;
}

.contribute {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;

  h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.8);
  }

  p {
    line-height: 1.6em;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.5);
  }
}

// Info

.contribute-info {
  width: 100%;
  height: auto;
  padding: 80px 0;
  background: #f5f5f5;

  ul {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    width: 250px;
    display: inline-block;
    padding: 30px 30px;
    text-align: center;
  }

  i {
    font-size: 60px;
    color: $primary-color;
    padding-bottom: 10px;
  }

  h2 {
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 10px;
  }
} // Info END


// Form

.form-group {
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;

  h1 {
    padding: 10px 0;
  }

  input {
    width: 280px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    margin: 20px 0;
    display: block;
    margin: 8px auto;
  }

  button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding: 8px;
    margin: 20px 0;
    background: $dark-primary-color;
    border-color: $dark-primary-color;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
} // contribution Section END


@media (min-width: 769px) {

  .intro-container {
    background-attachment: fixed;
  }

  .intro-display {

    p {
      padding: 0 20px;
    }
  }

  // Message

  .message-container {
    max-width: 1080px;
    padding: 100px 5px;
    height: 100%;
    transition: $translate-speed;
  }

  .message-display-one {
    width: 60%;
    margin: auto;
    padding-left: 50px;
    display: inline-block;

    h2 {
      font-size: 30px;
      padding-bottom: 30px;
    }

    p {
      letter-spacing: 0.4px;
      line-height: 1.6em;
    }
  }

  .message-display-two {
    width: 200px;
    padding-left: 50px;
    padding-top: 0;
    vertical-align: top;
    display: inline-block;

    li {
      padding-bottom: 25px;
    }

    h2 {
      padding-bottom: 30px;
    }

    h4 {
      color: rgba(0, 0, 0, 0.8);
      padding-bottom: 10px;
    }
  }

  .gallery {


    p {
      width: 298px;
      height: 100px;
      position: absolute;
      background: rgba(255, 255, 255, 0.9);
      margin-top: -136px;
      margin-left: 10px;
      padding-top: 20px;
      opacity: 0;
      transform: translateY(40px);
      transition: $gallery-p;

      a {
        font-size: 20px;
        color: #1d1d1d;
        text-decoration: none;
      }
    }

    li:hover {

      img {
        transform: scale(1.1);
      }

      p {
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.5s ease;
      }
    }

  }


  .form-group {
    width: 70%;

    input {
      width: 300px;
    }

  }

  // Info

  .contribute-info {
    width: 100%;
    height: auto;
    padding: 50px 0;

    ul {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    li {
      width: 250px;
      display: inline-block;
      padding: 0 30px;
      text-align: center;
    }

    i {
      font-size: 60px;
      color: $primary-color;
      padding-bottom: 10px;
    }

    h2 {
      color: rgba(0, 0, 0, 0.8);
      padding-bottom: 10px;
    }
  } // Info END

}

@media (min-width: 850px) {

  .message-display-one {
    padding-left: 80px;
  }

}
