@import 'vars';

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: $font-stack;
}

ul {
  list-style: none;
}

// Navigation

// Menu Button

#nav-icon {
  width: 35px;
  height: 28px;
  margin: 8px;
  padding: 1px;
  margin-left: 8px;
  left: 200px;
  position: absolute;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 26px;
  padding: 1px;
  margin-top: 4px;
  margin-left: 3px;
  border-radius: 9px;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  background: $menu-span-color;
}

#nav-icon span:nth-child(2) {
  top: 8px;
  background: $menu-span-color;
}

#nav-icon span:nth-child(3) {
  top: 16px;
  background: $menu-span-color;
}

#nav-icon.open span:nth-child(1) {
  top: 8px;
  transform: rotate(135deg);
  background: $menu-span-color;
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 8px;
  transform: rotate(-135deg);
  background: $menu-span-color;
}

// Menu Button END


.nav-container {
  position: fixed;
  background: $primary-color;
  width: 200px;
  height: 100vh;
  z-index: 10;
  transform: translate3d(-200px, 0, 0);
  transition: $translate-speed;
}

.nav-display {
  height: 100%;
  width: 100%;
  position: relative;
  background: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style: none;

    li {
      line-height: 35px;
    }

    a {
      color: #f5f5f5;
      font-size: 20px;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }
  }
}


.active-menu {
  transform: translate3d(0, 0, 0);
  transition: $translate-speed;
}

.active-menu .nav-container {
  transform: translate3d(0, 0, 0);
  transition: $translate-speed;
}


// Navigation END

// Profile

.profile {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 10px;
  text-align: center;

  img {
    width:100px;
    height: 100px;
    border-radius: 10px;
  }

  p {
    color: #ccc;
  }
} // Profile END

// Footer

.footer {
  width: 100%;
  height: auto;
  background: #222e2e;
  color: #fff;
}

footer {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
  }

  ul {
    width: 250px;
    height: 150px;
    display: inline-block;
    padding: 30px 0;
    padding-bottom: 0;
  }

  li {
    line-height: 30px;
    letter-spacing: 1.2px;
  }

}




@media (min-width: 769px) {

  .footer {
    width: 100%;
    height: auto;
    background: #222e2e;
    color: #fff;
    padding: 2em 0;
  }

  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: row;


    ul {
      width: 250px;
      display: inline-block;
      padding: 30px 30px;

    }

  }

}
