<section class="footer">
  <footer>
    <ul>
      <h2>Find Me Here</h2>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>GitHub</li>
    </ul>

    <ul>
      <h2>Contact</h2>
      <li> Phone: 999 - 555 - 5555 </li>
      <li>Tampa, FL</li>
      <li> Powered by James-H33</li>
    </ul>
  </footer>
</section>
  <script type="text/javascript" src="/js/master.js"></script>
  </body>
</html>
